[submodule "llvm-project"]
	path = tools/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "include-what-you-use"]
	path = tools/include-what-you-use
	url = git@github.com:include-what-you-use/include-what-you-use.git
[submodule "tools/opencv"]
	path = tools/opencv
	url = git@github.com:opencv/opencv.git
[submodule "tools/segment-anything"]
	path = tools/segment-anything
	url = git@github.com:facebookresearch/segment-anything.git
